#carouselExampleIndicators {
  width: 50rem;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
}

.carousel img {
  height: 18.75rem;
  object-fit: cover;
}

@media (max-width: 1200px) {
  #carouselExampleIndicators {
    width: 40rem;
    height: 20rem;
  }

  .carousel img {
    height: 15rem;
  }
}

@media (max-width: 992px) {
  #carouselExampleIndicators {
    width: 32rem;
    height: 16rem;
  }

  .carousel img {
    height: 12rem;
  }
}

@media (max-width: 768px) {
  #carouselExampleIndicators {
    width: 24rem;
    height: 12rem;
  }

  .carousel img {
    height: 9rem;
  }
}

@media (max-width: 576px) {
  #carouselExampleIndicators {
    width: 18rem;
    height: 9rem;
  }

  .carousel img {
    height: 6.75rem;
  }
}
