.chat-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
  }

.chat-header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.chat-messages {
	overflow-y: auto;
	scrollbar-width: none;  /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	flex: 1;
	padding: 1rem;
}

.chat-messages::-webkit-scrollbar { 
	display: none;  /* WebKit */
  }

.message {
  max-width: 70%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
}

.message.user {
  background-color: #007bff;
  color: white;
}

.message.bot {
  background-color: #28a745;
  color: white;
}

.chat-form {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
}

.chat-input {
    flex: 1;
    padding: 0.5rem;
    margin-right: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 80%; /* Adjust this value as needed */
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

.chat-send-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-send-button:hover {
  background-color: #0056b3;
}

.name-logo {
    display: flex;
    align-items: center;
    font-family: 'Edu Australia VIC WA NT Hand', cursive;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.5rem;
  }
  
  .name-logo img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }

  /* CSS talk bubble */
  .talk-bubble {
    margin-top: 1px;
    margin-bottom: 40px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
	width: fit-content;
    min-width: 12.5rem;
    max-width: 40%;
    height: auto;
    background-color: lightyellow;
  }
  

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
    right: auto;
    top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
    right: auto;
    top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family : "Dosis",sans-serif;
}

.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.message-timestamp {
	font-size: 0.8em;
	color: #888;
	text-align: right;
	margin-top: 5px;
  }

.message-container {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin-bottom: 20px;
  }
  
  .user-message {
	  align-self: flex-start;
	}
	
	.other-message {
		align-self: flex-end;
	}
  
  .other-message .name-logo {
	align-self: flex-end;
  }
  
  .other-message .talk-bubble {
	align-self: flex-end;
	background-color: #e1ffc7;
  }
  
  .other-message .tri-right.right-top:after {
	border-color: #e1ffc7 transparent transparent transparent;
  }

  .fetch-messages-button {
	padding: 0.5rem 1rem;
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 1rem;
	align-self: center;
  }
  
  .fetch-messages-button:hover {
	background-color: #218838;
  }