.whyus-container {
  width: 80%;
  background-color: #f9f9f9;
  padding: 0 1.25rem;
  margin: 1.25rem;
  border: 0.125rem solid #e8ebef;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .whyus-container {
    padding: 0 1rem;
    margin: 1rem;
  }
}

@media (max-width: 992px) {
  .whyus-container {
    padding: 0 0.8rem;
    margin: 0.8rem;
  }
}

@media (max-width: 768px) {
  .whyus-container {
    padding: 0 0.6rem;
    margin: 0.6rem;
  }
}

@media (max-width: 576px) {
  .whyus-container {
    padding: 0 0.4rem;
    margin: 0.4rem;
  }
}
